body{
    text-align: center;
    margin: 120px;
    margin-top: auto;
    padding: 5px;
    margin-bottom: auto;
    background-color: white;
    color: brown;
}   

ul, ol, h2{
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    color: #000;
}

html{
    background: white;
}

p{
    font-size: large;
    padding-left: 100px;
    padding-right: 100px;
    color: #000;
}


li{
    font-size: large;
}

h2{
    color: brown;
    text-align: center;

}

img{
    border: 5px solid wheat;
}

#back:hover{
    color: blue;
}

#back{
    text-decoration: none;
}